:root {
  --main-color: #8016a5;
  
}
.appbar .container {
  padding-top: 5px;
  padding-bottom: 5px;
}
.appbar .container a {
  font-weight: 600;
  font-size: 14px;
}
.appbar .container span {
  color: var(--main-color);
  font-weight: 700;
}
.appbar .container .row .col-2 a {
  color: black;
  padding: 0 5px;
}
.appbar .container .row .col-2 a:hover {
  color: var(--main-color);
}
/* < 576px	sm
576px	md
768px	lg
992px	xl
1200px	xxl
1400px */

/* Start Navbar */
/* .background-active-navbar{
    background-color: #21252970 !important ;
}
.color-text{
    color: white !important;
} */
.active {
  color: var(--main-color) !important;
}
.main-menu {
  position: sticky;
  top: 0px;
  z-index: 1300;
}
.main-menu nav {
  padding-top: 0;
  padding-bottom: 0;
}
.main-menu nav .container .logo-site {
  height: 50px;
  width: 100px;
  background-size: contain;
  background-repeat: no-repeat;
}
.main-menu nav .container .collapse ul li:hover {
  background-color: var(--main-color);
  transition: background-color 0.6s;
}
.main-menu nav .container .collapse ul li:hover a {
  color: white !important;
}
.main-menu nav .container .collapse ul li a {
  color: white;
  font-weight: 700 !important;
  font-size: 15px !important;
}
.main-menu nav .container .collapse ul li a:hover {
  color: white;
}
.main-menu nav .container .collapse .search-form label .form-control{
  color: var(--main-color);
}
.main-menu nav .container .collapse .search-form label .form-control:focus {
  outline: 3px solid  var(--main-color) !important;
  box-shadow: none !important;
}
.main-menu nav .container .collapse .search-form button {
  border-width: 2px !important;
  border-color: var(--main-color) !important;
  color: white !important;
}
.main-menu nav .container .collapse .search-form button:hover{
  background-color: var(--main-color) !important;
  color: white !important;
}



.dropdown-menu {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 !important;
  border-radius: 0 !important;
  padding: 0 !important;
  box-shadow: 0px 3.5px 12px -4px black;
}
.dropdown-menu .nav-item {
  background-color: #212529;
  transition: background-color 1s;
}
.dropdown-menu .nav-item:hover a.dropdown-item {
  transition: padding-left 1s;
  padding-left: 20px;
}
.dropdown-menu .nav-item a.dropdown-item {
  color: white;
  min-height: 100%;
}
.dropdown-menu .nav-item a.dropdown-item:hover {
  background-color: transparent !important;
}
/* @media (min-width : 992px){
  .dropdown-menu li {
    position: relative;
  }
} */

.dropdown-menu .dropdown-submenu {
  display: none;
  margin: 10px 0px;
  position: relative;
}
@media (max-width: 991) {
  .dropdown-menu .dropdown-submenu {
    display: block;
    left: 0 !important;
    top: 0 !important ;
    width: 100% !important;
    padding: 0 10px !important;
  }
}
@media (min-width: 992px) {
  .dropdown-menu .dropdown-submenu-left {
    right: 100%;
    left: auto;
  }
  .dropdown-menu .dropdown-submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
  }
  .dropdown-menu > li:hover > .dropdown-submenu {
    display: block;
  }
}



