.swiper {
    width: 100%;
    height: 100%;
  }
.swiper-wrapper {
   height: 250px;
  }

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }




  
  .best-modified-cars .container .product .related_products .related_product {
    width: 100%;
    height: fit-content;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .best-modified-cars .container .product .related_products .related_product .swiper-wrapper .slide-product {
    background-position: center;
    background-size: cover;
    width: 350px;
    height:fit-content;
  }

  .best-modified-cars .container .product .related_products .related_product .swiper-wrapper .slide-product .itme-product {
    display: block;
    width: 100%;
  }

