:root {
  --main-color: #8016a5;
}
/* < 576px	sm
576px	md
768px	lg
992px	xl
1200px	xxl
1400px */

/* Start Navbar */
.background-active-navbar{
    background-color: #21252970 !important ;
}
.color-text{
    color: white !important;
}

.main-menu .navbar {
    /* background-color: #21252970 !important ; */
}



.main-menu .navbar .container,
.main-menu .navbar,
.main-menu .navbar .container .navbar-brand{
    padding: 0;
}
@media (max-width:992px) {
  .main-menu .navbar{
    background: #212529 !important;
  }
}


.main-menu .navbar .container .collapse .navbar-nav {
    height: 100%;
}

@media (max-width: 992px) {
  .main-menu .navbar .container .collapse .navbar-nav {
      background-color: #21252970 !important;
  }

}


@media (min-width:768px) {
  .main-menu .navbar .container .collapse .navbar-nav {
      margin: auto auto ;

  }
}

.main-menu .navbar .container .collapse .navbar-nav .nav-item {
    text-align: center;
    padding: 20px;
    height: 100%;
}



/* .main-menu .navbar .container .collapse .navbar-nav .nav-item:hover{
    background-color:  rgba(209, 209, 209, 0.815);
} */
@media (min-width: 995px) {
  .main-menu .navbar .container .collapse .navbar-nav .nav-item:hover{
      background-color:  rgba(209, 209, 209, 0.815);
  }
}


.main-menu .navbar .container .collapse .navbar-nav .nav-item .nav-link{
    min-height: 100%;
    min-width: 100%;
    font-size: 20px;
    color: black;
}
@media (max-width:995px) {
  .main-menu .navbar .container .collapse .navbar-nav .nav-item .nav-link{
    color: white ;
  }



}
.main-menu .navbar .container .collapse .vr{
    background-color: transparent !important;
    /* margin: ; */
}
.main-menu .navbar .container .collapse .navbar-nav .nav-item .active{
    color: var(--main-color);

}
.main-menu .navbar .container .collapse .Contact .btn{
    background-color:var(--main-color) ;
    border-color: var(--main-color) ;
    color : white;
}
.Contact {
    margin: 0;
    padding: 0;

}
@media (max-width : 992px)  {
  .Contact {
      display: none ;

  }
}
.Contact .btn i{
    color: white;

}
.Contact  .fa-whatsapp {
    color: black;

}
/* End Navbar */








.dropdown-menu li {

}
@media (min-width : 992px){
  .dropdown-menu li {
    position: relative;
  }
}

.dropdown-menu .dropdown-submenu {
  display: none;
  margin: 10px 0px;
  /* position: absolute; */
  /* left: 39%;
  top: -7px; */
}
@media (min-width : 992px){
  .dropdown-menu .dropdown-submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
  }
}
.dropdown-menu .dropdown-submenu-left {

}
@media (min-width : 992px){
  .dropdown-menu .dropdown-submenu-left {
    right: 100%;
    left: auto;
  }
}
.dropdown-menu > li:hover > .dropdown-submenu {
  display: block;
}
@media (min-width : 992px){
  .dropdown-menu .dropdown-submenu-left {
    display: block;
  }
}
